<ng-container *ngIf="!permissions$().length || authS.can(permissions$()); else forbiddenTpl">
  <ng-content></ng-content>
</ng-container>

<ng-template #forbiddenTpl>
  <div class="container-fluid">
    <nz-alert class="mb-5"
      nzType="error"
      [nzMessage]="message"
      [nzDescription]="description"
      nzShowIcon
    >
      <ng-template #message>
        <strong>Acceso denegado</strong>
      </ng-template>

      <ng-template #description>
        <p class="mb-0">No tienes permisos suficientes para ver el contenido de esta sección.</p>
        <p class="mb-0">Por favor, ponte en contacto con el administrador del sistema para que provea de los permisos correspondientes a tu usuario.</p>
      </ng-template>
    </nz-alert>
  </div>
</ng-template>
