<ng-container *ngIf="{
  listData: (list.data$ | async) || []
} as vm">
  <div class="container-fluid">
    <div class="d-flex align-items-center mb-5">
      <h2 class="fs-1 mb-0">Usuarios</h2>

      <div class="ms-auto">
        <a class="btn btn-primary btn-sm" routerLink="/usuarios/crear">
          <span nz-icon nzType="plus-circle" nzTheme="outline" class="me-1"></span>
          Crear usuario
        </a>
      </div>
    </div>

    <app-system-users-page-filters></app-system-users-page-filters>

    <div class="box">
      <app-request-handler [list]="list">
        <app-request-handler [listAction]="list.action">
          <nz-table
            nzPaginationType="small"
            [nzScroll]="{ x: '800px' }"
            [nzFooter]="(list.total | number:'1.0-0') + ' registros'"
            [nzFrontPagination]="false"
            [nzData]="vm.listData"
            [nzTotal]="list.total"
            [nzPageSize]="list.limit"
            [nzPageIndex]="list.currentPage"
            (nzQueryParams)="list.onNzQueryParamsChange($event)"
            (nzPageSizeChange)="list.onNzPageSizeChange($event)"
          >
            <thead>
              <tr>
                <th nzWidth="auto" nzColumnKey="first_name" [nzSortFn]="true">Nombre</th>
                <th nzWidth="200px" nzColumnKey="status" [nzSortFn]="true">Estado</th>
                <th nzWidth="200px" nzColumnKey="created_at" [nzSortFn]="true">Creado</th>
                <th nzWidth="140px" nzAlign="center" nzRight="0">Acciones</th>
                <th nzWidth="0px"></th>
              </tr>
            </thead>

            <tbody>
              <ng-container *ngFor="let item of vm.listData; index as i;">
                <tr>
                  <td>

                    {{ item.full_name }}

                    <ng-container *ngIf="item.email_verified_at">
                      <i nz-icon [nzType]="'check-circle'" nzTheme="twotone" nzTwotoneColor="#52c41a" nz-tooltip nzTooltipTitle="Dirección de correo verificada"></i>
                    </ng-container>

                    <br>

                    <small class="text-muted" nz-typography nzCopyable [nzCopyText]="item.email">
                      {{ item.email }}
                    </small>
                  </td>

                  <td>
                    <nz-tag [nzColor]="item.status_enum.color">
                      {{ item.status_enum.label }}
                    </nz-tag>
                  </td>

                  <td>
                    {{ item.created_at | date:'longDate' }}<br>
                    <small class="text-muted">{{ item.created_at | date:'HH:mm:ss' }}</small>
                  </td>

                  <td nzAlign="center" nzRight="0">
                    <button class="btn-styless app-fs-18 mx-1"
                      nz-tooltip [nzTooltipTitle]="item.status === 'Active' ? 'Desactivar' : 'Activar'"
                      (click)="toggleStatus(item)"
                    >
                      <span class="text-primary" nz-icon [nzType]="item.status === 'Active' ? 'pause-circle' : 'play-circle'" nzTheme="outline"></span>
                    </button>

                    <a class="app-fs-18 mx-1"
                      nz-tooltip nzTooltipTitle="Editar"
                      [routerLink]="['/usuarios', item.id]"
                    >
                      <span class="text-primary" nz-icon nzType="edit" nzTheme="outline"></span>
                    </a>

                    <button class="btn-styless app-fs-18 mx-1"
                      nz-tooltip nzTooltipTitle="Borrar"
                      nz-popconfirm
                      [nzPopconfirmTitle]="'¿Estás seguro de eliminar al usuario ' + item.full_name + '?'"
                      (nzOnConfirm)="delete(item)"
                    >
                      <span class="text-danger" nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>
                  </td>

                  <div *ngIf="item.deleted_at" class="row-deleted">
                    <nz-tag nzColor="volcano">
                      Registro eliminado
                    </nz-tag>
                  </div>
                </tr>
              </ng-container>
            </tbody>
          </nz-table>
        </app-request-handler>
      </app-request-handler>
    </div>
  </div>
</ng-container>
