@if (form.request.isSuccess()) {
  <nz-alert
    nzBanner
    nzType="success"
    [nzMessage]="messageTpl"
    [nzDescription]="descriptionTpl"
  >
    <ng-template #messageTpl>
      <strong>Solicitud enviada</strong>
    </ng-template>

    <ng-template #descriptionTpl>
      Se le ha enviado un email de solicitud de cambio de contraseña a la dirección de correo ingresada. Por favor, siga las instrucciones allí especificadas.
    </ng-template>
  </nz-alert>
} @else {
  <app-form [form]="form" [formGroup]="form.group">
    <div class="row mb-3">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label>Email</nz-form-label>
          <input nz-input formControlName="email">
        </nz-form-control>
      </nz-form-item>
    </div>

    <app-form-footer submitText="Solicitar cambio" submitPlacement="block" />
  </app-form>
}
