@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@include media-breakpoint-up(lg) { }

:host {
  display: grid;
  position: relative;
  height: 100vh;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'header header'
    'sidebar body'
    ;

  > header {
    grid-area: header;
  }

  > aside {
    grid-area: sidebar;
    width: 250px;
    overflow: auto;
    transition: 0.2s ease all;

    &.hide {
      width: 0;
      transform: translateX(-100%);
    }

    @include media-breakpoint-down(md) {
      width: 0;
      transform: translateX(-100%);
    }
  }

  > main {
    grid-area: body;
    overflow: auto;
    /* -------------------- */
    display: flex;
    flex-direction: column;

    > footer {
      margin-top: auto;
    }
  }
}
