form[nz-form] {
  /** Vars */
  $inputHeight: var(--app-px-42);
  $inputHeightWithFloatingLabel: var(--app-px-56);

  &.form-lilac, &.form-borderless {
    /** Floating label */
    &:not(.no-floating) {
      nz-form-item {
        position: relative;

        nz-form-label {
          position: absolute;
          left: 11px;
          padding: 0 !important;
          z-index: 10;
          transform-origin: top left;
          transition: all 0.2s ease;
          pointer-events: none;
          /* -------------------- */
          top: 4px;
          transform: scale(0.75);
        }
      }

      .is-empty nz-form-label,
      [formControlName]:placeholder-shown:not(:focus) + nz-form-label {
        top: calc($inputHeightWithFloatingLabel / 2);
        transform: translateY(-50%);
      }

      .ant-input,
      nz-input-group,
      nz-input-number,
      nz-select {
        min-height: $inputHeightWithFloatingLabel;
        padding-top: 22px;
      }
    }

    /** Texts */
    label {
      @include app-ff-nunitosans-eb();
      font-size: var(--app-px-18);
      color: var(--bs-app-purple);
    }

    .ant-input,
    .ant-input-number-input,
    nz-input-group,
    .ant-input-prefix,
    .ant-input-suffix,
    nz-select,
    nz-select-item {
      @include app-ff-nunitosans-eb();
      font-size: var(--app-px-18);
      color: var(--bs-secondary) !important;
    }

    /** Controls */
    .ant-input,
    nz-input-group,
    nz-input-number,
    nz-select,
    label[nz-radio].radio-button {
      min-height: $inputHeight;
      background: var(--bs-app-lilac) !important;
      border: none;
      border-radius: 0.5rem;
      transition: all 0.3s ease;

      &.cdk-focused, &:focus {
        background: white !important;
        box-shadow: 0 0 0 2px var(--bs-app-purple) !important;
      }
    }

    nz-input-group {
      .ant-input,
      nz-input-number,
      nz-select {
        background: none !important;
        min-height: auto !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        padding: 0 !important;

        &.cdk-focused, &:focus {
          background: none !important;
          box-shadow: none !important;
        }
      }
    }

    /** Inputs */
    nz-input-number {
      width: 100%;
      .ant-input-number-handler-wrap { display: none; }
    }

    /** Selects */
    nz-select {
      display: flex;
      align-items: center;

      nz-select-top-control,
      .ant-input {
        background: none !important;
        border: none !important;
        box-shadow: none !important;
      }
    }

    /** Radios */
    label[nz-radio] {
      &.radio-button {
        display: inline-flex;
        align-items: center;
        color: var(--bs-secondary);
        padding: 0 0.5rem;

        &.ant-radio-wrapper-checked {
          background: var(--bs-secondary) !important;
          color: white;
        }

        .ant-radio {
          display: none;
        }
      }
    }

    /** Groups */
    nz-input-group {
      display: flex;
      align-items: center;
    }

    /** Errors */
    .ant-form-item-with-help {
      margin-bottom: 24px;
    }

    .ant-form-item-explain {
      position: absolute;
      z-index: 100;
      top: 100%;

      .ant-form-item-explain-error {
        display: inline-block;
        position: relative;
        background: white;
        box-shadow: 0 0 5px rgba(0,0,0,0.25);
        padding: 0.125rem 0.5rem;
        @include app-ff-nunitosans-r();
        font-size: var(--app-px-14);
        color: var(--bs-danger);
        line-height: 1.25;
        border-radius: 0.5rem;
        transform: translate(11px, -5px);
        z-index: 10;
      }
    }
  }

  &.form-borderless {
    &:not(.no-floating) {
      /** Floating label */
      nz-form-item {
        nz-form-label {
          left: 0;
        }
      }
    }

    /** Texts */
    label {
      color: var(--bs-secondary);
    }

    .ant-input,
    .ant-input-number-input,
    nz-input-group,
    .ant-input-prefix,
    .ant-input-suffix,
    nz-select,
    nz-select-item {
      color: var(--bs-primary) !important;
    }

    /** Controls */
    .ant-input,
    nz-input-group,
    nz-input-number,
    nz-select {
      background: transparent !important;
      border-bottom: 1px solid rgba(0,0,0,0.125) !important;
      border-radius: 0;
      padding-left: 0;
      padding-right: 0;

      &.cdk-focused, &:focus {
        background: transparent !important;
        box-shadow: none !important;
      }
    }

    nz-input-group {
      .ant-input,
      nz-input-number {
        border-bottom: none !important;
      }
    }

    /** Inputs */
    //

    /** Selects */
    nz-select {
      nz-select-top-control {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }

    /** Errors */
    //
  }
}
