<div class="box text-start m-auto p-5 px-4 px-sm-5" style="max-width: 450px;">
  @if (!addAnotherAccount() && authS.systemUser().sessions().length) {
    <div class="text-center">
      <div class="active-session mb-4">
        @if (authS.systemUser().activeSession()) {
          <nz-avatar class="mb-3"
            nzIcon="user"
            [nzSize]="100"
            [nzSrc]="authS.systemUser().activeSession()!.data!.picture"
          />

          <p class="app-fs-24 m-0">
            ¡Bienvenido, <strong>{{ authS.systemUser().activeSession()!.data!.firstName }}</strong>!
          </p>
        } @else {
          <p class="app-fs-24 m-0">
            Elige una cuenta
          </p>
        }
      </div>

      <div class="sessions">
        <app-request [request]="sessionRefreshRequest" type="spinner">
          <div class="list-group">
            @for (session of authS.systemUser().sessions(); track $index) {
              <button type="button" class="list-group-item list-group-item-action"
                [class.selected]="session.isActive"
                (click)="!session.isActive ? selectSession($index) : undefined"
              >
                <span>
                  <nz-avatar
                    nzIcon="user"
                    [nzSize]="40"
                    [nzSrc]="session.data!.picture"
                  />
                </span>

                <span class="text-truncate app-fs-14">
                  <p class="text-truncate m-0"><strong>{{ session.data!.fullName }}</strong></p>
                  <p class="text-truncate m-0 small text-black-50">{{ session.data!.email }}</p>
                </span>

                @switch (session.data!.model!.data.socialDriver?.id) {
                  @case (1) {
                    <span class="app-fs-28 text-app-google" nz-icon nzType="google"></span>
                  }
                }
              </button>
            }

            @if (authS.systemUser().sessions().length < 3) {
              <button type="button" class="list-group-item list-group-item-action"
                (click)="addAnotherAccount.set(true)"
              >
                <span nz-icon nzType="plus"></span>
                <span>Agregar otra cuenta</span>
              </button>
            }

            <button type="button" class="list-group-item list-group-item-action text-danger"
              (click)="authS.systemUser().removeAllSessions(false)"
            >
              <span nz-icon nzType="logout"></span>
              <span>Salir de todas las cuentas</span>
            </button>
          </div>
        </app-request>
      </div>

      @if (authS.systemUser().activeSession()) {
        <div class="d-grid gap-2 mt-5">
          <button class="btn btn-primary" (click)="enter()">Entrar</button>
          <button class="btn btn-link text-danger" (click)="authS.systemUser().removeSession(false)">Cerrar sesión</button>
        </div>
      }
    </div>
  } @else {
    <nz-tabset [nzAnimated]="false">
      @if (!addAnotherAccount() && passwordResetHash()) {
        <nz-tab nzTitle="Cambiar contraseña">
          <app-password-reset-update />
        </nz-tab>
      }

      <nz-tab nzTitle="Login">
        <app-login />

        @if (addAnotherAccount()) {
          <button class="btn btn-link text-primary mt-2 w-100" (click)="addAnotherAccount.set(false)">Volver</button>
        }

        <nz-divider class="border-dark-subtle my-4" nzText="O" nzPlain />

        <div class="mx-auto" style="width: 240px; height: 40px;">
          <app-request [request]="formLoginWithGoogle.request" minHeight="40px" type="spinner">
            <asl-google-signin-button type="standard" size="large" text="signin_with" [width]="240"></asl-google-signin-button>
          </app-request>
        </div>
      </nz-tab>

      @if (coreConfig.registerAllowed && !addAnotherAccount()) {
        <nz-tab nzTitle="Registro">
          <app-register />

          <nz-divider class="border-dark-subtle my-4" nzText="O" nzPlain />

          <div class="mx-auto" style="width: 240px; height: 40px;">
            <app-request [request]="formLoginWithGoogle.request" minHeight="40px" type="spinner">
              <asl-google-signin-button type="standard" size="large" text="signup_with" [width]="240"></asl-google-signin-button>
            </app-request>
          </div>
        </nz-tab>
      }

      @if (!addAnotherAccount()) {
        <nz-tab nzTitle="¿Olvidaste tu contraseña?">
          <app-password-reset-request />
        </nz-tab>
      }
    </nz-tabset>
  }
</div>
