<div class="box mb-3">
  <app-request-handler [requestH]="list.filters.combosRequestH">
    <form class="form-default floating-label" nz-form nzLayout="vertical">
      <ng-content></ng-content>

      <ng-container *ngIf="moreFiltersTpl">
        <nz-collapse class="headless" nzGhost>
          <nz-collapse-panel [nzActive]="list.moreFiltersControl.value">
            <nz-divider class="m-0 mb-3"></nz-divider>
            <ng-container *ngTemplateOutlet="moreFiltersTpl"></ng-container>
          </nz-collapse-panel>
        </nz-collapse>
      </ng-container>

      <nz-divider class="m-0 mb-3"></nz-divider>

      <div class="d-flex align-items-center mt-3">
        <a href="javascript:;" class="text-muted" (click)="list.filters.reset(true)">
          <span nz-icon nzType="clear" nzTheme="outline"></span> Limpiar
        </a>

        <ng-container *ngIf="moreFiltersTpl">
          <span class="mx-2">|</span>
          <!-- <nz-label nz-checkbox [formControl]="list.moreFiltersControl">Mostrar filtros avanzados</nz-label> -->

          <a href="javascript:;" class="link-primary" (click)="list.moreFiltersControl.setValue(!list.moreFiltersControl.value)">
            {{ list.moreFiltersControl.value ? 'Ocultar' : 'Mostrar' }} filtros avanzados
            <span nz-icon [nzType]="list.moreFiltersControl.value ? 'up' : 'down'" nzTheme="outline"></span>
          </a>
        </ng-container>
      </div>
    </form>
  </app-request-handler>
</div>
