GIT_USER_NAME=""
GIT_USER_EMAIL=""
GITHUB_DOMAIN=""
BACKUP_PATH=""

ENV="dev"

COMPOSE_PROJECT_NAME="tpl-dockerized-project"
PORT=4

SRC_ANGULAR="../angular"
SRC_LARAVEL="../laravel"

SRCS="
  angular:${SRC_ANGULAR}
  laravel:${SRC_LARAVEL}
"
