<ng-container *ngIf="{
  isLoading: form.requestH.isLoading$() | async,
  isLoggedIn: authS.isLoggedIn$() | async,
  auth: authS.guard$() | async
} as vm">
  <ng-container *ngIf="vm.isLoggedIn; else noLoggedInTpl">
    <p class="app-fs-16">Bienvenido<br><strong class="app-fs-24">{{ vm.auth?.data?.name }}</strong></p>
  </ng-container>

  <ng-template #noLoggedInTpl>
    <app-request-handler [form]="form">
      <form nz-form nzLayout="vertical" [formGroup]="form.group" (ngSubmit)="login()">
        <div class="row">
          <nz-form-item>
            <nz-form-control [nzErrorTip]="form.getError('email')">
              <nz-form-label>Email</nz-form-label>
              <input nz-input formControlName="email" placeholder="&nbsp;">
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control [nzErrorTip]="form.getError('password')">
              <nz-form-label>Contraseña</nz-form-label>
              <input nz-input type="password" formControlName="password" placeholder="&nbsp;">
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control [nzErrorTip]="form.getError('remember_me')">
              <label nz-checkbox formControlName="remember_me">Recordarme</label>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="mt-3">
          <button [appLoadingBtn]="vm.isLoading" class="btn btn-primary">
            Ingresar
          </button>
        </div>
      </form>
    </app-request-handler>

    <!-- <app-request-handler [requestH]="form.requestH" type="button">
      <div class="mx-auto mt-5" style="height: 40px; width: 238px;">
        <asl-google-signin-button type="standard" size="large"></asl-google-signin-button>
      </div>
    </app-request-handler> -->
  </ng-template>
</ng-container>
