<ng-container *ngIf="{
  authData: authS.data$() | async
} as vm">
  <nav class="navbar navbar-expand">
    <div class="container-fluid h-100">
      <a class="navbar-brand" routerLink="/" aria-label="Hoggax">
        <svg-coffee-break-logo style="width: 2rem;"></svg-coffee-break-logo>
        <strong class="d-none d-md-inline ms-2">CoffeeBreak</strong>
      </a>

      <div class="collapse navbar-collapse h-100" id="navbarSupportedContent">
        <ul class="col navbar-nav align-items-center ms-4 me-3">
          <li class="d-none d-md-flex nav-item w-100">
            <app-searchbar></app-searchbar>
          </li>
        </ul>

        <ul class="col-auto navbar-nav align-items-center">
          <li class="nav-item d-md-none">
            <button class="nav-link btn-styless app-fs-24" data-bs-toggle="offcanvas" data-bs-target="#searchbarOffcanvas">
              <span nz-icon nzType="search" nzTheme="outline"></span>
            </button>
          </li>

          <li class="nav-item">
            <button class="nav-link btn-styless app-fs-24" nz-dropdown [nzDropdownMenu]="quickActionsMenu" nzPlacement="bottomRight">
              <span nz-icon nzType="thunderbolt" nzTheme="outline"></span>
            </button>
            <nz-dropdown-menu #quickActionsMenu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item class="text-primary app-fs-16">
                  <strong>Acciones rápidas</strong>
                </li>
                <li nz-menu-divider></li>
                <li nz-menu-item nzDisabled>
                  Borrar fianza mal exportada
                </li>
                <li nz-menu-item nzDisabled>
                  Agregar datos faltantes para generación de seguro
                </li>
              </ul>
            </nz-dropdown-menu>
          </li>

          <li class="nav-item">
            <button class="nav-link btn-styless app-fs-24" nz-dropdown [nzDropdownMenu]="configMenu" nzPlacement="bottomRight">
              <span nz-icon nzType="setting" nzTheme="outline"></span>
            </button>
            <nz-dropdown-menu #configMenu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item class="text-primary app-fs-16">
                  <strong>Configuración</strong>
                </li>
                <li nz-menu-divider></li>
              </ul>
            </nz-dropdown-menu>
          </li>

          <li class="nav-item d-md-none">
            <button class="nav-link btn-styless app-fs-24" data-bs-toggle="offcanvas" data-bs-target="#sidebarOffcanvas">
              <span nz-icon nzType="menu" nzTheme="outline"></span>
            </button>
          </li>

          <li class="nav-item">
            <button class="nav-link btn-styless" nz-dropdown [nzDropdownMenu]="accountMenu" nzPlacement="bottomRight">
              <nz-avatar nzIcon="user" [nzSrc]="vm.authData?.picture"></nz-avatar>
            </button>
            <nz-dropdown-menu #accountMenu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item class="text-primary app-fs-16">
                  <strong>{{ vm.authData?.name }}</strong>
                </li>
                <li nz-menu-divider></li>
                <li nz-menu-item>
                  <a class="link-styless" routerLink="/cuenta">Cuenta</a>
                </li>
                <li nz-menu-item>
                  <button class="btn-styless" (click)="logout()">Cerrar sesión</button>
                </li>
              </ul>
            </nz-dropdown-menu>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</ng-container>

<app-sidebar-offcanvas class="d-md-none"></app-sidebar-offcanvas>
<app-searchbar-offcanvas class="d-md-none"></app-searchbar-offcanvas>
