<div class="offcanvas" tabindex="-1"
  [ngClass]="'offcanvas-' + position"
  [attr.id]="name"
  [attr.aria-labelledby]="name"
>
  <div class="offcanvas-header bg-white border-bottom">
    <a class="text-decoration-none" routerLink="/" data-bs-dismiss="offcanvas">
      <svg-coffee-break-logo style="width: 2rem;"></svg-coffee-break-logo>
    </a>

    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body" [ngClass]="bodyClass">
    <ng-content></ng-content>
  </div>
</div>
