<ng-container *ngIf="{
  isLoading: form.requestH.isLoading$() | async,
  isSuccess: form.requestH.isSuccess$() | async
} as vm">
  <ng-container *ngIf="vm.isSuccess; else noSuccessTpl">
    <nz-alert
      nzType="success"
      [nzMessage]="message"
      [nzDescription]="description"
      nzShowIcon
    >
      <ng-template #message>
        <strong>Cambio de contraseña completo</strong>
      </ng-template>

      <ng-template #description>
        Su contraseña ha sido cambiada con éxito. Haga click en la solapa <strong>Login</strong> e ingrese al sistema con su nueva contraseña.
      </ng-template>
    </nz-alert>
  </ng-container>

  <ng-template #noSuccessTpl>
    <app-request-handler [form]="form">
      <form class="form-default floating-label" nz-form nzLayout="vertical" [formGroup]="form.group" (ngSubmit)="update()">
        <div class="row">
          <nz-form-item>
            <nz-form-control>
              <nz-form-label>Nueva contraseña</nz-form-label>
              <input nz-input type="password" formControlName="password">
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <nz-form-label>Confirmar nueva contraseña</nz-form-label>
              <input nz-input type="password" formControlName="password_confirmation">
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="mt-3">
          <button [appLoadingBtn]="vm.isLoading" class="btn btn-primary">
            Cambiar contraseña
          </button>
        </div>
      </form>
    </app-request-handler>
  </ng-template>
</ng-container>
