<ng-container *ngIf="{
  isLoading: form.requestH.isLoading$() | async
} as vm">
  <div class="container-fluid">
    <h2 class="fs-1 mb-5">Editar usuario</h2>

    <div class="box">
      <app-request-handler [form]="form">
        <app-request-handler [requestH]="form.dataRequestH">
          <form nz-form nzLayout="vertical" [formGroup]="form.group" (ngSubmit)="update()">
            <h3 class="fs-6 mb-0">Datos generales</h3>
            <nz-divider class="my-3"></nz-divider>

            <div class="row">
              <nz-form-item class="col-60 col-lg-30 col-xl-15">
                <nz-form-control [nzErrorTip]="form.getError('first_name')">
                  <nz-form-label>Nombre</nz-form-label>
                  <input nz-input formControlName="first_name" placeholder="&nbsp;">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="col-60 col-lg-30 col-xl-15">
                <nz-form-control [nzErrorTip]="form.getError('last_name')">
                  <nz-form-label>Apellido</nz-form-label>
                  <input nz-input formControlName="last_name" placeholder="&nbsp;">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="col-60 col-lg-30 col-xl-15">
                <nz-form-control [nzErrorTip]="form.getError('email')">
                  <nz-form-label>Email</nz-form-label>
                  <input nz-input formControlName="email" placeholder="&nbsp;">
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="mt-3">
              <button [appLoadingBtn]="vm.isLoading" class="btn btn-primary">
                Guardar
              </button>
            </div>
          </form>
        </app-request-handler>
      </app-request-handler>
    </div>
  </div>
</ng-container>

