<ul nz-menu nzMode="inline" [nzInlineCollapsed]="!uiState.sidebar.isVisible.value()">
  <li nz-menu-item
    nz-tooltip
    nzTooltipPlacement="right"
    [nzTooltipTitle]="!uiState.sidebar.isVisible.value() ? 'Dashboard' : ''"
    [class.ant-menu-item-selected]="routeS.urlIs('/')"
    routerLink="/"
  >
    <span nz-icon nzType="dashboard"></span>
    <span>Dashboard</span>
  </li>

  @if (this.authS.systemUser().activeSession()?.can(['SystemUserGet', 'SystemUserCreate'])) {
    <li nz-submenu nzTitle="Usuarios" nzIcon="user"
      [class.ant-menu-item-active]="routeS.urlStartsWith('/usuarios')"
      [nzOpen]="routeS.urlStartsWith('/usuarios')"
    >
      <ul>
        @if (this.authS.systemUser().activeSession()?.can(['SystemUserGet'])) {
          <li [class.ant-menu-item-selected]="routeS.urlIs('/usuarios')" nz-menu-item routerLink="/usuarios">Listado de usuarios</li>
        }
        @if (this.authS.systemUser().activeSession()?.can(['SystemUserCreate'])) {
          <li [class.ant-menu-item-selected]="routeS.urlIs('/usuarios/crear')" nz-menu-item routerLink="/usuarios/crear">Nuevo usuario</li>
        }
      </ul>
    </li>
  }

  <!-- <li nz-submenu nzTitle="Navigation Two" nzIcon="appstore">
    <ul>
      <li nz-menu-item>Option 5</li>
      <li nz-menu-item>Option 6</li>
      <li nz-submenu nzTitle="Submenu">
        <ul>
          <li nz-menu-item>Option 7</li>
          <li nz-menu-item>Option 8</li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Navigation Three" nzIcon="setting">
    <ul>
      <li nz-menu-item>Option 9</li>
      <li nz-menu-item>Option 10</li>
      <li nz-menu-item>Option 11</li>
    </ul>
  </li> -->
</ul>
