<app-section-title [reloadFn]="form.dataRequest.run">
  Editar usuario

  <ng-container *ngIf="form.dataRequest.body()">
    <nz-tag class="m-0 ms-2" [nzColor]="form.dataRequest.body()?.data?.statusEnum?.color">
      {{ form.dataRequest.body()?.data?.statusEnum?.label }}
    </nz-tag>
  </ng-container>

  <ng-template #breadcrumbs>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a routerLink="/usuarios">Usuarios</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>Editar</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>

  <ng-template #extras>
    <app-system-user-actions
      type="dropdown"
      [systemUser]="form.dataRequest.body()"
      [request]="form.actionRequest"
      [notify]="true"
      (onSuccess$)="onActionSuccess($event)"
    ></app-system-user-actions>
  </ng-template>
</app-section-title>

<div class="container-fluid">
  <div class="box">
    <app-request [requests]="form.getRequests()">
      <form class="form-default floating-label" nz-form nzLayout="vertical" [formGroup]="form.group" (ngSubmit)="form.submit()">
        <app-form-section-title [title]="'Avatar'" icon="user" [isFirst]="true" />

        <div class="ps-3">
          <div class="row">
            <nz-form-item class="col-60 col-lg-30 col-xl-15">
              <nz-form-control>
                <app-form-upload
                  [control]="form.getControl('picture')"
                  concept="system_user_picture"
                  type="dropzone"
                ></app-form-upload>
                <input nz-input formControlName="picture">
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <!-- <app-form-section-title [title]="'Fotos'" icon="picture" [isFirst]="false" />

        <div class="ps-3">
          <div class="row">
            <nz-form-item class="col-60 col-lg-30">
              <nz-form-control>
                <app-form-upload
                  [control]="form.getControl('photos')"
                  concept="system_user_photos"
                  type="dropzone"
                  listTipe="text"
                ></app-form-upload>
                <input nz-input formControlName="photos">
              </nz-form-control>
            </nz-form-item>
          </div>
        </div> -->

        <app-form-section-title [title]="'Información del usuario'" icon="info-circle" [isFirst]="false" />

        <div class="ps-3">
          <div class="row">
            <nz-form-item class="col-60 col-lg-30 col-xl-15">
              <nz-form-control>
                <nz-form-label>Nombre</nz-form-label>
                <input nz-input formControlName="first_name">
              </nz-form-control>
            </nz-form-item>

            <nz-form-item class="col-60 col-lg-30 col-xl-15">
              <nz-form-control>
                <nz-form-label>Apellido</nz-form-label>
                <input nz-input formControlName="last_name">
              </nz-form-control>
            </nz-form-item>

            <nz-form-item class="col-60 col-lg-30 col-xl-15">
              <nz-form-control>
                <nz-form-label>Email</nz-form-label>
                <input nz-input formControlName="email">
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="row">
            <nz-form-item class="col-60 col-lg-30 col-xl-15">
              <nz-form-control>
                <nz-form-label>Fecha de creación</nz-form-label>
                <nz-date-picker class="w-100" nzFormat="d 'de' MMMM 'de' YYYY, HH:mm:ss" formControlName="created_at"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item class="col-60 col-lg-30 col-xl-15">
              <nz-form-control>
                <nz-form-label>Fecha de modificación</nz-form-label>
                <nz-date-picker class="w-100" nzFormat="d 'de' MMMM 'de' YYYY, HH:mm:ss" formControlName="updated_at"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <app-form-footer [form]="form" buttonText="Guardar" />
      </form>
    </app-request>
  </div>
</div>
