.swiper {
  .swiper-pagination {
    bottom: 15px;

    .swiper-pagination-bullet {
      background: none;
      border: 2px solid var(--bs-secondary) !important;
      width: 14px;
      height: 14px;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        background: var(--bs-secondary);
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: unset;
    bottom: 0;

    &.swiper-button-prev {
      left: calc(50% - (152px / 2) - 30px);
      right: unset;
    }

    &.swiper-button-next {
      left: unset;
      right: calc(50% - (152px / 2) - 30px);
    }

    &:after {
      font-size: 20px;
      color: var(--bs-secondary);
    }
  }
}
