<ng-container *ngIf="form.request.isSuccess(); else noSuccessTpl">
  <nz-alert
    nzType="success"
    [nzMessage]="message"
    [nzDescription]="description"
    nzShowIcon
  >
    <ng-template #message>
      <strong>Registro completo</strong>
    </ng-template>

    <ng-template #description>
      Se le ha enviado un email de verificación a la dirección de correo ingresada. Por favor, confirme su dirección de correo para poder disfrutar de todos los servicios.
    </ng-template>
  </nz-alert>
</ng-container>

<ng-template #noSuccessTpl>
  <app-request [request]="form.request">
    <form class="form-default floating-label" nz-form nzLayout="vertical" [formGroup]="form.group" (ngSubmit)="form.submit()">
      <div class="row">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label>Nombre</nz-form-label>
            <input nz-input formControlName="first_name">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <nz-form-label>Apellido</nz-form-label>
            <input nz-input formControlName="last_name">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <nz-form-label>Email</nz-form-label>
            <input nz-input formControlName="email">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <nz-form-label>Contraseña</nz-form-label>
            <input nz-input type="password" formControlName="password">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <nz-form-label>Confirmar contraseña</nz-form-label>
            <input nz-input type="password" formControlName="password_confirmation">
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="mt-3">
        <button [appLoadingBtn]="form.request.isLoading()" class="btn btn-primary">
          Registrarme
        </button>
      </div>
    </form>
  </app-request>
</ng-template>
