<div class="py-3">
  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" routerLink="/" data-bs-dismiss="offcanvas">
        <span nz-icon nzType="dashboard" nzTheme="outline"></span>
        Dashboard
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/usuarios" data-bs-dismiss="offcanvas">
        <span nz-icon nzType="user" nzTheme="outline"></span>
        Usuarios
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/canales" data-bs-dismiss="offcanvas">
        <span nz-icon nzType="apartment" nzTheme="outline"></span>
        Canales
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/partidas" data-bs-dismiss="offcanvas">
        <span nz-icon nzType="rocket" nzTheme="outline"></span>
        Partidas
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/preguntas" data-bs-dismiss="offcanvas">
        <span nz-icon nzType="diff" nzTheme="outline"></span>
        Preguntas
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/jugadores" data-bs-dismiss="offcanvas">
        <!-- <span nz-icon nzType="contacts" nzTheme="outline"></span> -->
        <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
        Jugadores
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/reportes" data-bs-dismiss="offcanvas">
        <span nz-icon nzType="area-chart" nzTheme="outline"></span>
        Reportes
      </a>
    </li>
  </ul>
</div>
