@import "primary.scss";
@import "secondary.scss";
@import "app-icons.scss";

[class^="app-icon-"], [class*=" app-icon-"] {
  line-height: 1 !important;

  &.icon-fw {
    width: 2rem;
    display: inline-block;
  }
}
