// @font-face {
//   font-family: "Roboto";
//   src:
//     url("/assets/fonts/Roboto/Roboto-Light.ttf?v1") format("truetype");
//   font-weight: 300;
//   font-style: normal;
//   font-display: block;
// }
// @font-face {
//   font-family: "Roboto";
//   src:
//     url("/assets/fonts/Roboto/Roboto-Regular.ttf?v1") format("truetype");
//   font-weight: 400;
//   font-style: normal;
//   font-display: block;
// }
// @font-face {
//   font-family: "Roboto";
//   src:
//     url("/assets/fonts/Roboto/Roboto-SemiBold.ttf?v1") format("truetype");
//   font-weight: 500;
//   font-style: normal;
//   font-display: block;
// }
// @font-face {
//   font-family: "Roboto";
//   src:
//     url("/assets/fonts/Roboto/Roboto-Bold.ttf?v1") format("truetype");
//   font-weight: 700;
//   font-style: normal;
//   font-display: block;
// }
// @font-face {
//   font-family: "Roboto";
//   src:
//     url("/assets/fonts/Roboto/Roboto-ExtraBold.ttf?v1") format("truetype");
//   font-weight: 800;
//   font-style: normal;
//   font-display: block;
// }

@mixin app-ff-primary-l  { font-family: "Roboto", sans-serif !important; font-weight: 300 !important; }
@mixin app-ff-primary-r  { font-family: "Roboto", sans-serif !important; font-weight: 400 !important; }
@mixin app-ff-primary-sb { font-family: "Roboto", sans-serif !important; font-weight: 500 !important; }
@mixin app-ff-primary-b  { font-family: "Roboto", sans-serif !important; font-weight: 700 !important; }
@mixin app-ff-primary-eb { font-family: "Roboto", sans-serif !important; font-weight: 800 !important; }

.app-ff-primary-l  { @include app-ff-primary-l(); }
.app-ff-primary-r  { @include app-ff-primary-r(); }
.app-ff-primary-sb { @include app-ff-primary-sb(); }
.app-ff-primary-b  { @include app-ff-primary-b(); }
.app-ff-primary-eb { @include app-ff-primary-eb(); }
/* -------------------- */
.app-ff-primary-d  { @include app-ff-primary-r(); }
