@mixin app-ff-secondary-l  { font-family: "Open Sans", sans-serif !important; font-weight: 300 !important; }
@mixin app-ff-secondary-r  { font-family: "Open Sans", sans-serif !important; font-weight: 400 !important; }
@mixin app-ff-secondary-sb { font-family: "Open Sans", sans-serif !important; font-weight: 500 !important; }
@mixin app-ff-secondary-b  { font-family: "Open Sans", sans-serif !important; font-weight: 700 !important; }
@mixin app-ff-secondary-eb { font-family: "Open Sans", sans-serif !important; font-weight: 800 !important; }

.app-ff-secondary-l  { @include app-ff-secondary-l(); }
.app-ff-secondary-r  { @include app-ff-secondary-r(); }
.app-ff-secondary-sb { @include app-ff-secondary-sb(); }
.app-ff-secondary-b  { @include app-ff-secondary-b(); }
.app-ff-secondary-eb { @include app-ff-secondary-eb(); }
/* -------------------- */
.app-ff-secondary-d  { @include app-ff-secondary-r(); }
