<ng-container *ngIf="{
  isLoggedIn: authS.isLoggedIn$() | async,
  auth: authS.guard$() | async
} as vm">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="container text-center">
      <ng-container *ngIf="vm.isLoggedIn; else noLoggedInTpl">
        <p class="app-fs-18">Bienvenido <strong>{{ vm.auth?.data.name | json }}</strong></p>
      </ng-container>

      <ng-template #noLoggedInTpl>
        <p class="app-fs-18">Bienvenido al nuevo <strong class="text-info">backoffice</strong> de</p>
        <svg-hoggax-logo style="width: 198px;"></svg-hoggax-logo>

        <div class="mx-auto mt-5" style="height: 40px; width: 238px;">
          <asl-google-signin-button type="standard" size="large"></asl-google-signin-button>
        </div>
      </ng-template>
    </div>
  </div>
</ng-container>

