:root {
  --app-navbar-height: var(--app-px-60);
  /* -------------------- */
  --app-px-8: 0.5rem;
  --app-px-10: 0.625rem;
  --app-px-12: 0.75rem;
  --app-px-13: 0.813rem;
  --app-px-14: 0.875rem;
  --app-px-15: 0.938rem;
  --app-px-16: 1rem;
  --app-px-18: 1.125rem;
  --app-px-20: 1.25rem;
  --app-px-22: 1.375rem;
  --app-px-24: 1.5rem;
  --app-px-25: 1.563rem;
  --app-px-26: 1.625rem;
  --app-px-28: 1.75rem;
  --app-px-30: 1.875rem;
  --app-px-32: 2rem;
  --app-px-34: 2.125rem;
  --app-px-36: 2.25rem;
  --app-px-40: 2.5rem;
  --app-px-42: 2.625rem;
  --app-px-44: 2.75rem;
  --app-px-45: 2.813rem;
  --app-px-46: 2.875rem;
  --app-px-48: 3rem;
  --app-px-50: 3.125rem;
  --app-px-52: 3.25rem;
  --app-px-56: 3.5rem;
  --app-px-60: 3.75rem;
  --app-px-64: 4rem;
  --app-px-72: 4.5rem;
  --app-px-78: 4.875rem;
  --app-px-80: 5rem;
  --app-px-90: 5.625rem;
  --app-px-100: 6.25rem;
}

.app-fs-8 { font-size: var(--app-px-8) !important; }
.app-fs-10 { font-size: var(--app-px-10) !important; }
.app-fs-12 { font-size: var(--app-px-12) !important; }
.app-fs-13 { font-size: var(--app-px-13) !important; }
.app-fs-14 { font-size: var(--app-px-14) !important; }
.app-fs-15 { font-size: var(--app-px-15) !important; }
.app-fs-16 { font-size: var(--app-px-16) !important; }
.app-fs-18 { font-size: var(--app-px-18) !important; }
.app-fs-20 { font-size: var(--app-px-20) !important; }
.app-fs-22 { font-size: var(--app-px-22) !important; }
.app-fs-24 { font-size: var(--app-px-24) !important; }
.app-fs-25 { font-size: var(--app-px-25) !important; }
.app-fs-26 { font-size: var(--app-px-26) !important; }
.app-fs-28 { font-size: var(--app-px-28) !important; }
.app-fs-30 { font-size: var(--app-px-30) !important; }
.app-fs-32 { font-size: var(--app-px-32) !important; }
.app-fs-34 { font-size: var(--app-px-34) !important; }
.app-fs-36 { font-size: var(--app-px-36) !important; }
.app-fs-40 { font-size: var(--app-px-40) !important; }
.app-fs-42 { font-size: var(--app-px-42) !important; }
.app-fs-44 { font-size: var(--app-px-44) !important; }
.app-fs-45 { font-size: var(--app-px-45) !important; }
.app-fs-46 { font-size: var(--app-px-46) !important; }
.app-fs-48 { font-size: var(--app-px-48) !important; }
.app-fs-50 { font-size: var(--app-px-50) !important; }
.app-fs-52 { font-size: var(--app-px-52) !important; }
.app-fs-56 { font-size: var(--app-px-56) !important; }
.app-fs-60 { font-size: var(--app-px-60) !important; }
.app-fs-64 { font-size: var(--app-px-64) !important; }
.app-fs-72 { font-size: var(--app-px-72) !important; }
.app-fs-78 { font-size: var(--app-px-78) !important; }
.app-fs-80 { font-size: var(--app-px-80) !important; }
.app-fs-90 { font-size: var(--app-px-90) !important; }
.app-fs-100 { font-size: var(--app-px-100) !important; }
