<div class="d-inline-block text-start" style="width: 100%; max-width: 350px; height: 550px;">
  <nz-tabset>
    <ng-container *ngIf="passwordResetHash">
      <nz-tab nzTitle="Cambiar contraseña">
        <app-auth-page-password-reset-update></app-auth-page-password-reset-update>
      </nz-tab>
    </ng-container>

    <nz-tab nzTitle="Login">
      <app-auth-page-login></app-auth-page-login>
    </nz-tab>

    <nz-tab nzTitle="Registro">
      <app-auth-page-register></app-auth-page-register>
    </nz-tab>

    <nz-tab nzTitle="¿Olvidaste tu contraseña?">
      <app-auth-page-password-reset-request></app-auth-page-password-reset-request>
    </nz-tab>
  </nz-tabset>
</div>
