<ng-container *ngIf="{
  isLoading: form.requestH.isLoading$() | async,
} as vm">
  <app-section-title [reloadFn]="getOne">
    Editar usuario

    <ng-container *ngIf="systemUser$()">
      <nz-tag class="m-0 ms-2" [nzColor]="systemUser$()?.data?.statusEnum?.color">
        {{ systemUser$()?.data?.statusEnum?.label }}
      </nz-tag>
    </ng-container>

    <ng-template #breadcrumbsTpl>
      <nz-breadcrumb>
        <nz-breadcrumb-item><a routerLink="/usuarios">Usuarios</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>Editar</nz-breadcrumb-item>
      </nz-breadcrumb>
    </ng-template>

    <ng-template #extrasTpl>
      <ng-container *ngIf="systemUser$()">
        <app-system-user-action
          type="dropdown"
          [form]="actionForm"
          [systemUser$]="systemUser$" (onDelete)="router.navigate(['/usuarios'])"
        ></app-system-user-action>
      </ng-container>
    </ng-template>
  </app-section-title>

  <div class="container-fluid">
    <div class="box">
      <app-request-handler [form]="form">
        <app-request-handler [requestH]="actionForm.requestH" type="loading">
          <app-request-handler [requestH]="form.dataRequestH">
            <form class="form-default floating-label" nz-form nzLayout="vertical" [formGroup]="form.group" (ngSubmit)="update()">
              <app-form-section-title [title]="'Datos generales'" icon="info-circle" [isFirst]="true" />

              <div class="ps-3">
                <div class="row">
                  <nz-form-item class="col-60 col-lg-30 col-xl-15">
                    <nz-form-control>
                      <nz-form-label>Nombre</nz-form-label>
                      <input nz-input formControlName="first_name">
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item class="col-60 col-lg-30 col-xl-15">
                    <nz-form-control>
                      <nz-form-label>Apellido</nz-form-label>
                      <input nz-input formControlName="last_name">
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item class="col-60 col-lg-30 col-xl-15">
                    <nz-form-control>
                      <nz-form-label>Email</nz-form-label>
                      <input nz-input formControlName="email">
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div class="row">
                  <nz-form-item class="col-60 col-lg-30 col-xl-15">
                    <nz-form-control>
                      <nz-form-label>Fecha de creación</nz-form-label>
                      <nz-date-picker class="w-100" nzFormat="d 'de' MMMM 'de' YYYY, HH:mm:ss" formControlName="created_at"></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item class="col-60 col-lg-30 col-xl-15">
                    <nz-form-control>
                      <nz-form-label>Fecha de modificación</nz-form-label>
                      <nz-date-picker class="w-100" nzFormat="d 'de' MMMM 'de' YYYY, HH:mm:ss" formControlName="updated_at"></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div class="mt-3">
                <button [appLoadingBtn]="vm.isLoading" class="btn btn-primary">
                  Guardar
                </button>
              </div>
            </form>
          </app-request-handler>
        </app-request-handler>
      </app-request-handler>
    </div>
  </div>
</ng-container>

