:host {
  display: grid;
  position: relative;
  width: 100dvw;
  height: 100dvh;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  grid-template-areas:
    'body'
    ;

  > main {
    grid-area: body;
    display: block;
  }
}
