:host {
  display: grid;
  position: relative;
  height: 100vh;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    'body'
    ;

  > main {
    grid-area: body;
  }
}
