<main>
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="container text-center">
      <div class="d-inline-flex align-items-center mx-auto mb-3">
        <svg-coffee-break-logo style="width: 4rem;"></svg-coffee-break-logo>
        <strong class="app-fs-36 ms-2">CoffeeBreak</strong>
      </div>

      <p class="text-muted app-fs-12">Experiencia lúdica con contenidos a la medida de tus objetivos</p>

      <router-outlet></router-outlet>
    </div>
  </div>
</main>
