:host {
  > div {
    position: relative;

    &.type-data {
      min-height: 110px;
    }

    .interaction-disabled {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% + 1rem);
      height: calc(100% + 1rem);
      border-radius: 0.25rem;
      transform: translate(-0.5rem, -0.5rem);
      z-index: 20;
    }
  }
}

:host::ng-deep {
  nz-result {
    .ant-result-icon {
      margin-bottom: 10px;

      > [nz-icon] {
        font-size: var(--app-px-32);
      }
    }

    .ant-result-title {
      font-size: var(--app-px-18);
    }
  }

  .interaction-disabled {
    &.has-content {
      backdrop-filter: blur(1px);

      &.light {
        background: rgba(255,255,255,0.5);
        border: 2px solid rgba(0,0,0,0.125);

        nz-result {
          .ant-result-title { color: var(--bs-secondary); }
          .ant-result-subtitle { color: rgba(0,0,0,0.6); }
        }
      }

      &.dark {
        background: rgba(0,0,0,0.5);
        border: 2px solid rgba(255,255,255,0.125);

        nz-result {
          .ant-result-title { color: white; }
          .ant-result-subtitle { color: rgba(255,255,255,0.6); }
        }
      }
    }
  }
}
