@if (form.request.isSuccess()) {
  <nz-alert
    nzBanner
    nzType="success"
    [nzMessage]="messageTpl"
    [nzDescription]="descriptionTpl"
  >
    <ng-template #messageTpl>
      <strong>Cambio de contraseña completo</strong>
    </ng-template>

    <ng-template #descriptionTpl>
      Su contraseña ha sido cambiada con éxito. Haga click en la pestaña <strong>Login</strong> e ingrese al sistema con su nueva contraseña.
    </ng-template>
  </nz-alert>
} @else {
  <app-form [form]="form" [formGroup]="form.group">
    <div class="row">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label>Nueva contraseña</nz-form-label>
          <input nz-input type="password" formControlName="password">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-form-label>Confirmar nueva contraseña</nz-form-label>
          <input nz-input type="password" formControlName="password_confirmation">
        </nz-form-control>
      </nz-form-item>
    </div>

    <app-form-footer submitText="Cambiar contraseña" submitPlacement="block" />
  </app-form>
}
