<app-request [requests]="list.getRequests()">
  <nz-table #nzTableC
    nzPaginationType="small"
    [nzScroll]="{ x: scrollSize }"
    [nzShowTotal]="listShowTotalC.tpl"
    [nzFrontPagination]="false"
    [nzData]="list.data()"
    [nzTotal]="list.total()"
    [nzPageSize]="list.limit() || 9999999"
    [nzPageIndex]="list.currentPage()"
    [nzPageSizeOptions]="[10, 20, 50, 100]"
    [nzShowSizeChanger]="!!list.limit()"
    [nzShowPagination]="!!list.limit()"
    (nzQueryParams)="list.onNzQueryParamsChange($event)"
  >
    <app-list-show-total #listShowTotalC />

    <thead>
      <tr>
        @if (dragable) {
          <th
            nzWidth="50px"
            nzAlign="center"
            [nzLeft]="true"
          ></th>
        }

        @for (column of columns; track column) {
          @if (column.rowTpl) {
            @if (column.sort) {
              <th
                [nzWidth]="column.width"
                [nzColumnKey]="column.key"
                [nzSortFn]="column.sort"
                [nzAlign]="column.align || 'left'"
                [nzRight]="column.right || false"
              >
                {{ column.name }}
              </th>
            } @else {
              <th
                [nzWidth]="column.width"
                [nzColumnKey]="column.key"
                [nzAlign]="column.align || 'left'"
                [nzRight]="column.right || false"
              >
                {{ column.name }}
              </th>
            }
          }
        }
      </tr>
    </thead>

    <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
      @for (item of list.data(); track item; let itemIndex = $index) {
        <tr cdkDrag [cdkDragDisabled]="!dragable">
          @if (dragable) {
            <td
              nzAlign="center"
              [nzLeft]="true"
            >
              <span cdkDragHandle class="text-primary" nz-icon nzType="holder" nzTheme="outline"></span>
            </td>
          }

          @for (column of columns; track column) {
            @if (column.rowTpl) {
              <td
                [nzAlign]="column.align || 'left'"
                [nzRight]="column.right || false"
              >
                <ng-container *ngTemplateOutlet="column.rowTpl; context: { $implicit: item, index: itemIndex }" />
              </td>
            }
          }
        </tr>
      }
    </tbody>
  </nz-table>
</app-request>
