@if (state.app.ready()) {
  <!-- <div [@routeSlideUpAnimation]="routeS.current.data().tpl">
    <router-outlet />
  </div> -->

  <router-outlet />
} @else if (state.app.error()) {
  <div class="content container-fluid">
    <div>
      <p class="mb-0">{{ state.app.error() }}</p>
      <p class="mb-0">{{ 'init.errors.try_again' | translate }}</p>
    </div>
  </div>
} @else {
  <!-- <div class="content container-fluid" @fadeOutAnimation> -->
  <div class="content container-fluid">
    <div>
      <div class="mb-4">
        <div class="animate__animated animate__pulse animate__infinite animate__faster">
          <img class="d-block" src="/public/images/logos/301.png" style="width: 15rem;">
        </div>
      </div>

      <!-- <div class="spinner-grow text-primary" role="status" aria-hidden="true" style="width: 2rem; height: 2rem;"></div> -->

      <!-- <video class="object-fit-contain w-100 h-100" poster="noposter" autoplay loop muted playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true">
        <source src="/public/videos/splash.mp4" type="video/mp4">
      </video> -->
    </div>
  </div>
}
