:host::ng-deep {
  .ant-collapse-header {
    padding: 1rem !important;
  }
  .ant-collapse-content-box {
    padding: 0 !important;
  }

  .headless {
    .ant-collapse-header {
      display: none !important;
    }
  }
}
