:host {
  > div {
    &.sticky {
      position: sticky;
      bottom: 1rem;
      background: white;
      width: calc(100% + 2rem);
      padding: 0 1rem 1rem;
      transform: translate(-1rem, 1rem);
      border-radius: 50rem !important;
      z-index: 100;
    }

    > .row {
      min-height: 50px;
    }
  }
}
