<div class="d-inline-flex align-items-center">
  @switch (layout) {
    @case ('button') {
      @if (canShow('create')) {
        <a class="btn btn-primary mx-1" routerLink="/usuarios/crear">
          Nuevo usuario
        </a>
      }
    }

    @case ('icon') {
      @if (canShow('activate')) {
        <nz-switch class="mx-1 mb-1"
          nz-tooltip nzTooltipTitle="Activar"
          nzSize="small"
          [ngModel]="this.systemUser!.isActive()" (ngModelChange)="activateRequest.run()"
        ></nz-switch>
      }
      @if (canShow('deactivate')) {
        <nz-switch class="mx-1 mb-1"
          nz-tooltip nzTooltipTitle="Desactivar"
          nzSize="small"
          [ngModel]="this.systemUser!.isActive()" (ngModelChange)="deactivateRequest.run()"
        ></nz-switch>
      }
      @if (canShow('loginAs')) {
        <button class="btn-styless app-fs-18 mx-1"
          nz-tooltip nzTooltipTitle="Ingresar como"
          (click)="loginAsRequest.run()"
        >
          <span class="text-primary" nz-icon nzType="login" nzTheme="outline"></span>
        </button>
      }
      @if (canShow('update')) {
        <a class="app-fs-18 mx-1"
          nz-tooltip nzTooltipTitle="Editar"
          [routerLink]="['/usuarios', systemUser!.data.id]"
        >
          <span class="text-primary" nz-icon nzType="edit" nzTheme="outline"></span>
        </a>
      }
      @if (canShow('delete')) {
        <app-global-delete-action layout="popover" [id]="systemUser!.data.id" [httpFn]="systemUserHttpS.delete" (onSuccess$)="onSuccess$.emit({ action: 'delete' })">
          <a class="app-fs-18 mx-1"
            nz-tooltip nzTooltipTitle="Borrar"
          >
            <span class="text-danger" nz-icon nzType="delete" nzTheme="outline"></span>
          </a>
        </app-global-delete-action>
      }
    }

    @case ('menu') {
      <button class="btn-styless app-fs-18 mx-1" nz-dropdown [nzDropdownMenu]="actionsMenu" nzPlacement="bottomRight">
        <span class="text-primary" nz-icon nzType="more" nzTheme="outline"></span>
      </button>

      <nz-dropdown-menu #actionsMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-group nzTitle="Acciones">
            <ul>
              <li nz-menu-divider></li>
              @if (canShow('activate')) {
                <li nz-menu-item>
                  <button class="btn-styless" (click)="activateRequest.run()">
                    Activar
                  </button>
                </li>
              }
              @if (canShow('deactivate')) {
                <li nz-menu-item>
                  <button class="btn-styless" (click)="deactivateRequest.run()">
                    Desactivar
                  </button>
                </li>
              }
              @if (canShow('loginAs')) {
                <li nz-menu-item>
                  <button class="btn-styless" (click)="loginAsRequest.run()">
                    Ingresar como
                  </button>
                </li>
              }
              @if (canShow('update')) {
                <li nz-menu-item>
                  <a class="link-styless" [routerLink]="['/usuarios', systemUser!.data.id]">
                    Editar
                  </a>
                </li>
              }
              @if (canShow('delete')) {
                <li nz-menu-item>
                  <app-global-delete-action layout="modal" [modalTitle]="'Borrar usuario ' + systemUser!.data.fullName + ' (#' + systemUser!.data.id + ')'" [id]="systemUser!.data.id" [httpFn]="systemUserHttpS.delete" (onSuccess$)="onSuccess$.emit({ action: 'delete' })">
                    <button class="btn-styless text-danger">Borrar</button>
                  </app-global-delete-action>
                </li>
              }
            </ul>
        </ul>
      </nz-dropdown-menu>
    }
  }
</div>
