<div>
  <header>
    <app-fixed [height]="50">
      <div class="d-flex align-items-center bg-white shadow-sm animate__faster"
        [class.animate__animated]="true"
        [class.animate__slideInDown]="uiState.header.isVisible()"
        [class.animate__slideOutUp]="!uiState.header.isVisible()"
      >
        <button class="btn btn-link p-0 mx-3 app-fs-20" (click)="uiState.sidebar.isVisible.toggle()">
          <span nz-icon [nzType]="uiState.sidebar.isVisible.value() ? 'menu-fold' : 'menu-unfold'" nzTheme="outline"></span>
        </button>

        <button class="d-none d-sm-block btn btn-link p-0 app-fs-20" (click)="uiState.fullscreen.toggle()">
          <span nz-icon [nzType]="uiState.fullscreen.value() ? 'fullscreen-exit' : 'fullscreen'" nzTheme="outline"></span>
        </button>

        <app-navbar class="flex-fill" />
      </div>
    </app-fixed>
  </header>

  <aside class="sider bg-white shadow-sm" [class.hide]="!uiState.sidebar.isVisible.value()">
    <div class="sider-content">
      <app-sider />
    </div>
  </aside>

  <main>
    <div class="main-content" [class.fullscreen]="uiState.fullscreen.value()">
      <router-outlet />
    </div>

    <footer>
      <app-footer />
    </footer>
  </main>
</div>
