:host {
  --app-sidebar-width: 250px;

  > div {
    display: grid;
    position: relative;
    height: 100dvh;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'header header'
      'sider main'
      ;

    > header {
      grid-area: header;
      z-index: 1100;
    }

    > .sider {
      grid-area: sider;
      width: var(--app-sidebar-width);
      overflow: clip;
      transition: all 0.3s ease;

      > .sider-content {
        width: var(--app-sidebar-width);
        position: relative;
        top: 7.5px;
      }

      &.hide {
        width: 80px;
      }
    }

    > main {
      grid-area: main;
      display: flex;
      flex-direction: column;
      overflow: auto;

      // > .main-content {
      //   min-height: 200dvh;
      // }

      > footer {
        margin-top: auto;
      }
    }
  }
}


