<ng-container *ngIf="{
  _0: form.group.valueChanges | async,
  _1: form.group.statusChanges | async,
} as vm">
  <app-request [requests]="form.getRequests()">
    @if (showDebug) {
      <div class="d-flex bg-light small mb-4">
        <pre class="p-3 mb-0">Form: {{ form.group.getRawValue() | json }}</pre>
        <pre class="p-3 mb-0">State (current): {{ form.state.current() | json }}</pre>
        <pre class="p-3 mb-0">State (init): {{ form.state.init() | json }}</pre>
        <pre class="p-3 mb-0">State (saved): {{ form.autoSaveState.value() | json }}</pre>
      </div>
    }

    <form [ngClass]="'form-' + type" [class.floating-label]="floatingLabel" nz-form nzLayout="vertical">
      <ng-content />

      @if (forceSubmitOnEnter) {
        <button type="submit" (click)="form.submit()" style="display: none;"></button>
      }
    </form>
  </app-request>
</ng-container>
