*/_backup/**

# /* -------------------- */ #

angular/src/**
!angular/src/public/
!angular/src/public/**
!angular/src/src/
!angular/src/src/app/
!angular/src/src/app/**
!angular/src/src/environments/
!angular/src/src/environments/environment.*.ts
!angular/src/src/theme/
!angular/src/src/theme/**
!angular/src/src/index.html
!angular/src/src/styles.scss
!angular/src/src/version.ts
!angular/src/.gitignore
!angular/src/.npmrc
!angular/src/angular.json

# /* -------------------- */ #

laravel/src/**
!laravel/src/.ebextensions/
!laravel/src/.ebextensions/**
!laravel/src/.platform/
!laravel/src/.platform/**
!laravel/src/app/
!laravel/src/app/Apis/
!laravel/src/app/Apis/**
!laravel/src/app/Console/
!laravel/src/app/Console/**
!laravel/src/app/Core/
!laravel/src/app/Core/**
!laravel/src/app/Enums/
!laravel/src/app/Enums/**
!laravel/src/app/Exceptions/
!laravel/src/app/Exceptions/Handler.php
!laravel/src/app/Facades/
!laravel/src/app/Facades/**
!laravel/src/app/Http/
!laravel/src/app/Http/Controllers/
!laravel/src/app/Http/Controllers/Api/
!laravel/src/app/Http/Controllers/Api/**
!laravel/src/app/Http/Controllers/Auth/
!laravel/src/app/Http/Controllers/Auth/**
!laravel/src/app/Http/Middleware/
!laravel/src/app/Http/Middleware/VerifyAuth.php
!laravel/src/app/Http/Requests/
!laravel/src/app/Http/Requests/**
!laravel/src/app/Http/Kernel.php
!laravel/src/app/Mail/
!laravel/src/app/Mail/**
!laravel/src/app/Models/
!laravel/src/app/Models/**
!laravel/src/app/Policies/
!laravel/src/app/Policies/**
!laravel/src/app/Providers/
!laravel/src/app/Providers/AppServiceProvider.php
!laravel/src/app/Providers/RouteServiceProvider.php
!laravel/src/app/Providers/TelescopeServiceProvider.php
!laravel/src/app/Repositories/
!laravel/src/app/Repositories/**
!laravel/src/app/Services/
!laravel/src/app/Services/**
!laravel/src/config/
!laravel/src/config/app.php
!laravel/src/config/auth.php
!laravel/src/config/cors.php
!laravel/src/config/filesystems.php
!laravel/src/config/logging.php
!laravel/src/config/media-library.php
!laravel/src/config/sanctum.php
!laravel/src/config/services.php
!laravel/src/database/
!laravel/src/database/migrations/
!laravel/src/database/migrations/0002_02_02_*
!laravel/src/database/seeders/
!laravel/src/database/seeders/**
!laravel/src/lang/
!laravel/src/lang/**
!laravel/src/locust/
!laravel/src/locust/**
!laravel/src/resources/
!laravel/src/resources/views/
!laravel/src/resources/views/emails/
!laravel/src/resources/views/emails/**
!laravel/src/routes/
!laravel/src/routes/api.backoffice.v1.php
!laravel/src/routes/auth-session.v1.php
!laravel/src/routes/auth.v1.php
!laravel/src/routes/frontend.php
!laravel/src/.editorconfig
