<div class="container-fluid shadow-sm mb-4 py-3">
  @if (breadcrumbsTpl) {
    <div>
      <ng-container *ngTemplateOutlet="breadcrumbsTpl" />
    </div>
  }

  <div class="d-flex align-items-center">
    <h2 class="h4 mb-0">
      <strong class="d-inline-flex align-items-center">
        <span>
          <ng-content />
        </span>
      </strong>
    </h2>

    @if (reloadFn) {
      <button class="btn-styless ms-2 h4" (click)="reloadFn()">
        <span nz-icon nzType="redo" nzTheme="outline"></span>
      </button>
    }

    <div class="ms-auto">
      <div class="ms-2">
        @if (extrasTpl) {
          <ng-container *ngTemplateOutlet="extrasTpl" />
        }
      </div>
    </div>
  </div>
</div>

