<app-form [form]="formLogin" [formGroup]="formLogin.group">
  <div class="row">
    <nz-form-item>
      <nz-form-control>
        <nz-form-label>Email</nz-form-label>
        <input nz-input formControlName="email">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <nz-form-label>Contraseña</nz-form-label>
        <input nz-input type="password" formControlName="password">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="remember_me">Recordarme</label>
      </nz-form-control>
    </nz-form-item>
  </div>

  <app-form-footer submitText="Ingresar" />
</app-form>

<nz-divider nzText="o" nzPlain />

<div class="mx-auto mt-4" style="height: 40px; width: 238px;">
  <app-request [request]="formLoginGoogle.request" type="spinner">
    <asl-google-signin-button type="standard" size="large"></asl-google-signin-button>
  </app-request>
</div>
