<app-page-title [reloadFn]="list.refresh">
  Usuarios

  <ng-template #extrasTpl>
    <app-system-user-action-group layout="button" only="create" />
  </ng-template>
</app-page-title>

<div class="container-fluid">
  <div class="box mb-3">
    <app-form-filters [form]="list.filters" [formGroup]="list.filters.getGroup('main')">
      <div class="row">
        <nz-form-item class="col-60 col-lg-30 col-xl-15">
          <nz-form-control>
            <nz-form-label>Nombre</nz-form-label>
            <input nz-input formControlName="name">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="col-60 col-lg-30 col-xl-15">
          <nz-form-control>
            <nz-form-label>Email</nz-form-label>
            <input nz-input formControlName="email">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="col-60 col-lg-30 col-xl-15">
          <nz-form-control>
            <nz-form-label>Estados</nz-form-label>
            <nz-select formControlName="statuses" nzMode="multiple">
              @for (status of list.filters.getCombo('auth_statuses'); track status.id) {
                <nz-option [nzValue]="status.id" [nzLabel]="status.name" />
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <ng-template #moreTpl>
        <div class="row">
          <nz-form-item class="col-60 col-lg-30">
            <nz-form-control>
              <nz-form-label>Creado</nz-form-label>
              <nz-range-picker formControlName="createdAt" nzFormat="longDate"></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="row">
          <nz-form-item class="col-60 col-lg-30 col-xl-15">
            <nz-form-control>
              <label class="m-0 my-1" nz-checkbox formControlName="emailVerified">Email verificado</label><br>
              <label class="m-0 my-1" nz-checkbox formControlName="emailNotVerified">Email NO verificado</label>
            </nz-form-control>
          </nz-form-item>
        </div>
      </ng-template>
    </app-form-filters>
  </div>

  <div class="box">
    <app-system-user-list [list]="list" />
  </div>
</div>
