form[nz-form].form-oneline, .form-items.form-oneline {
  --default-input-height: var(--app-px-40);

  --label-font-size: var(--app-px-14);
  --input-font-size: var(--app-px-14);

  &.floating-label {
    --default-input-height: var(--app-px-50);
  }

  @mixin input-value {
    // color: var(--bs-primary) !important;
  }

  @mixin input-styles {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid rgba(0,0,0,0.125) !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    box-shadow: none !important;

    &.cdk-focused, &.ant-picker-focused, &:focus {
      @include input-focused-styles();
    }
  }

  @mixin input-focused-styles {
    // box-shadow: 0 0 0 1px var(--bs-primary) !important;
  }

  /* -------------------- */

  nz-form-label {
    left: 0 !important;
    padding: 0;
  }
  // label {
  //   font-weight: bold;
  //   color: var(--bs-primary);
  // }

  /* -------------------- */

  #{$item-value-selectors}
  {
    @include input-value();
  }

  #{$item-selectors}
  {
    @include input-styles();
  }

  /* -------------------- */

  nz-input-number {
    input {
      padding-left: 0;
    }
  }

  nz-select {
    &.ant-select-open {
      nz-select-top-control {
        @include input-focused-styles();
      }
    }

    &.ant-select-multiple {
      nz-select-top-control {
        nz-select-item {
          @include input-value();
        }
      }
    }
  }

  nz-upload {
    .ant-upload-list-item {
      padding: 0;
      overflow: hidden;
    }

    &.button {
      .ant-upload {
        width: 100%;
      }
    }
  }
}
