form[nz-form].form-default, .form-items.form-default {
  --default-input-height: var(--app-px-40);

  --label-font-size: var(--app-px-14);
  --input-font-size: var(--app-px-14);

  &.floating-label {
    --default-input-height: var(--app-px-50);
  }

  @mixin input-value {
    // color: var(--bs-primary) !important;
  }

  @mixin input-styles {
    border-radius: var(--input-border-radius) !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;

    &.cdk-focused, &.ant-picker-focused, &:focus {
      @include input-focused-styles();
    }
  }

  @mixin input-focused-styles {
    // box-shadow: 0 0 0 1px var(--bs-primary) !important;
  }

  /* -------------------- */

  // nz-form-label {
  //   //
  // }
  // label {
  //   font-weight: bold;
  //   color: var(--bs-primary);
  // }

  /* -------------------- */

  #{$item-value-selectors}
  {
    @include input-value();
  }

  #{$item-selectors}
  {
    @include input-styles();
  }

  /* -------------------- */

  // nz-input-number {
  //   input {
  //     //
  //   }
  // }

  nz-select {
    &.ant-select-open {
      nz-select-top-control {
        @include input-focused-styles();
      }
    }

    &.ant-select-multiple {
      nz-select-top-control {
        nz-select-item {
          @include input-value();
          border-radius: var(--input-border-radius);
        }
      }
    }
  }

  nz-upload {
    .ant-upload-list-item {
      padding: 0;
      border-radius: var(--input-border-radius);
      overflow: hidden;
    }

    &.button {
      .ant-upload {
        width: 100%;
      }
    }
  }
}
