<app-page-title>
  Mi cuenta
</app-page-title>

<div class="container-fluid">
  <ch-account-verification />

  @if (authS.systemUser().activeSession()!.isVerified()) {
    <div class="box">
      <app-form [form]="form" [formGroup]="form.group">
        <app-form-section-title [title]="'Datos generales'" icon="info-circle" isFirst />

        <div class="ps-4">
          @if (!authS.systemUser().activeSession()?.hasRole(['Root'])) {
            <div class="row">
              <nz-form-item class="col-60 col-lg-30 col-xl-15">
                <nz-form-control>
                  <nz-form-label>Avatar</nz-form-label>
                  <app-form-upload [control]="form.getControl('picture')" concept="system_user_picture" type="dropzone" />
                  <input nz-input formControlName="picture">
                </nz-form-control>
              </nz-form-item>
            </div>
          }

          <div class="row">
            <nz-form-item class="col-60 col-lg-30 col-xl-15">
              <nz-form-control>
                <nz-form-label>Nombre</nz-form-label>
                <input nz-input formControlName="first_name">
              </nz-form-control>
            </nz-form-item>

            <nz-form-item class="col-60 col-lg-30 col-xl-15">
              <nz-form-control>
                <nz-form-label>Apellido</nz-form-label>
                <input nz-input formControlName="last_name">
              </nz-form-control>
            </nz-form-item>

            <nz-form-item class="col-60 col-lg-30 col-xl-15">
              <nz-form-control>
                <nz-form-label>Email</nz-form-label>
                <input nz-input formControlName="email">
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        @if (!authS.systemUser().activeSession()?.hasRole(['Root'])) {
          <app-form-section-title [title]="'Cambiar contraseña'" icon="lock" />

          <div class="ps-4">
            <div class="row">
              <nz-form-item class="col-60 col-lg-30 col-xl-15">
                <nz-form-control>
                  <nz-form-label>Contraseña actual</nz-form-label>
                  <input nz-input type="password" formControlName="password_current">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="col-60 col-lg-30 col-xl-15">
                <nz-form-control>
                  <nz-form-label>Nueva contraseña</nz-form-label>
                  <input nz-input type="password" formControlName="password">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="col-60 col-lg-30 col-xl-15">
                <nz-form-control>
                  <nz-form-label>Confirmar nueva contraseña</nz-form-label>
                  <input nz-input type="password" formControlName="password_confirmation">
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <nz-divider />
          <app-form-footer submitText="Guardar" submitPlacement="right" withInfo />
        }
      </app-form>
    </div>
  }
</div>
