@mixin app-ff-nunitosans-l  { font-family: "Nunito Sans", calibri, sans-serif !important; font-weight: 300 !important; }
@mixin app-ff-nunitosans-r  { font-family: "Nunito Sans", calibri, sans-serif !important; font-weight: 400 !important; }
@mixin app-ff-nunitosans-sb { font-family: "Nunito Sans", calibri, sans-serif !important; font-weight: 600 !important; }
@mixin app-ff-nunitosans-b  { font-family: "Nunito Sans", calibri, sans-serif !important; font-weight: 700 !important; }
@mixin app-ff-nunitosans-eb { font-family: "Nunito Sans", calibri, sans-serif !important; font-weight: 800 !important; }

.app-ff-nunitosans-l  { @include app-ff-nunitosans-l(); }
.app-ff-nunitosans-r  { @include app-ff-nunitosans-r(); }
.app-ff-nunitosans-sb { @include app-ff-nunitosans-sb(); }
.app-ff-nunitosans-b  { @include app-ff-nunitosans-b(); }
.app-ff-nunitosans-eb { @include app-ff-nunitosans-eb(); }
/* -------------------- */
.app-ff-nunitosans-d  { @include app-ff-nunitosans-r(); }
